<nav class="navbar navbar-expand-lg navbar-dark bg-primary abc">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="https://img.icons8.com/external-wanicon-flat-wanicon/64/000000/external-trade-economic-crisis-wanicon-flat-wanicon.png"/></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Login
                    </a>
                </li>
                
            </ul>
        </div> -->
    </div>
</nav>